@tablet: ~"(min-widht:500px)";

.aboutApp {
    background-color: #E1E6F9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aboutTextBox {
        padding: 20px;

        .aboutTitle {
            h2 {
                font-size: 20px;
                font-family: @font-Muli;
                font-weight: bolder;
            }
        }

        .fa {
            position: absolute;
            margin-top: -30px;
            margin-left: 65%;

        }

        i:active {
            color: @redOrange;
        }

        i:hover+.transform-active {
            display: block;
        }

        i {
            cursor: pointer;
        }

        p {
            font-family: @font-Muli;
            font-size: 14px;
        }

        ul {
            display: none;
            list-style-position: inside;

            li {
                font-family: @font-Muli;
                font-size: 14px;
            }
        }

    }


    .appImgs {
        display: flex;
        justify-content: center;
        padding: 20px;

        .test {
           
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            :-webkit-scrollbar {
                display: none;
            }


            .about {

                display: inline-block;
                width: 45%;
                margin-right: 5px;

                @media @desktop {
                    width: 25%;
                    margin: 0 auto;
                }
                @media @tablet{
                    width: 25%;
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                    border-radius: 5%;
                    border: 1px solid #E1E6F9;
                    ;

                }
            }
        }
    }
}