@tablet: ~"(min-widht:500px)";

.aboutApp {
    margin: 0 auto;
    .flexDisplay(column, center, null);
    .aboutTextBox {
        padding: 20px;

        p {
            text-align: center;
            color:@textBlue;
            font-family: @font-Muli;
            font-size: 30px;
        }

        h2 {
            font-size: 40px;
            font-family: @font-Muli;
            font-weight: bolder;
            text-align: center;
            color:@textBlue;
        }


        .fa {
            @media @desktop{
                margin-left: 65%;
            }
            position: absolute;
            margin-top: -43px;
            margin-left: 79%;
            color:@textBlue;
            
        }
       

        i:active {
            color: @redOrange;
        }

        i:hover+.transform-active {
            display: block;
        }

        i {
            cursor: pointer;
        }

        ul {
            display: none;
            list-style-position: inside;

            li {
                font-family: @font-Muli;
                font-size: 20px;
            }
        }

    }


    .appImgs {
        display: flex;
        justify-content: center;
        padding: 20px;

        .test {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            :-webkit-scrollbar {
                display: none;
            }

            @media @desktop {
                overflow-x: visible;
                white-space: wrap;
                overflow-y: visible;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                align-content: center;
                justify-content: center;
            }


            .about {

                display: inline-block;
                width: 45%;
                margin-right: 5px;

                @media @desktop {
                    width: 25%;
                    margin: 0 auto;
                    margin: 5px 20px;
                }

                @media @tablet {
                    width: 25%;
                }

                img {.imagesAnimations(#E1E6F9, 5%);
                }

                img:hover {
                    transform: scale(1.1);
                }


            }
        }
    }
}