footer {
    width: 100%;
    background-color:@veryLightGray;
   
    position: absolute;
    left: 0px;
    right: 0;

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        .copy-right {
            color: @darkBlue;
            font-size: 20px;
          }
          .fa {
            .gitIcon();
        }

        a:hover {
            color: #FE4909
        }
      }
    
  }