footer {
    width: 100%;
    background-color:@veryLightGray;
   
    position: absolute;
    left: 0px;
    right: 0;

    display: flex;
    justify-content: center;

    .footer {
        .flexDisplay(row, left, null);
        margin-left: 20px;
        align-items: center;
        text-align: center;
        .copy-right {
            color: @darkGray3;
            font-size: 20px;
          }
          .fa {
            .gitIcon();
        }

        a:hover {
            color: #FE4909
        }
      }
    
  }