footer {
    width: 100%;
    background-color:@veryLightGray;

    .footer {
        .flexDisplay(row, left, null);
        align-items: center;
        text-align: center;
        margin-left:20px;

        .copy-right {
            color: @darkGray3;
            font-size: 20px;
          }
          .fa {

            font-size: 40px;
            padding: 15px;
            text-decoration: none;
            color: #1f2852;
        }

        a:hover {
            color: #FE4909
        }
      }
    
  }