header {
    background-image: url('../images/background.png');
    width: 80%;
    height: 15vh;    
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    z-index: 2;

    justify-content: space-between;

    #logo {
        margin: 30px 45px;
        max-width: 15vw;
    }

    #spacer {
        display: flex;
    }

    #hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        width: 50px;
        margin: 40px 45px;

    }

        .bar1, .bar2, .bar3 {
            width: 45px;
            height: 6px;
            background-color: @lightGray;
            margin: 8px 0;
            transition: 0.4s;
            border-radius: 5px;
        }

        /* Rotate first bar */
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }

        /* Fade out the second bar */
        .change .bar2 {
            opacity: 0;
        }

        /* Rotate last bar */
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }

        button {
            background-color: transparent;
            border: solid white 3px;
            width: 150px;
            height: 50%;
            margin: 30px 45px;


            border-radius: 20px;

            color: white;
            font-size: 2.5rem;
        }
}