header {
    // width: 100vw;
    // background-image: url('../images/background.png');
    // background-position: top right;
    // background-size: cover;


    min-height: 15vh;    
    // position: fixed;

    display: flex;
    flex-wrap: wrap;
    z-index: 2;

    justify-content: space-evenly;
    width: 100%;

    @media @desktop {
        justify-content: space-between;
        width: 100%;
    }

    #logo {
        max-width: 240px;
        cursor: pointer;
        transition: transform 2s;
        transform: scale(1.0);
        margin-top: 20px;

        @media @desktop {
            margin-left: 40px;
        }

    }

    #spacer {
        display: flex;
    }


    .menu-toggle {
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: white;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: thistle;
    }

    .main-menu {
        position: absolute;
        display: none;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
        box-shadow 0.3s ease;
        z-index: 999;

        ul {
            list-style: none;
            margin: 0;
            padding: 2.5em 0 0;
            /* Hide shadow w/ -8px while 'closed' */
            -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
            min-height: 100%;
            width: 200px;
            background: @darkBlue;
        }

        a {
            display: block;
            padding: 25px;
            line-height: 1rem;
            font-size: 3rem;
            color: #fff;
            text-decoration: none;

            &:hover, &:focus {
                color: coral;
            }
        }

        li:first-child a {
            border-top: 1px solid #383838;
        }
    }

    button {
        background-color: transparent;
        border: solid white 3px;
        width: 150px;
        height: 50%;
        margin: 30px 45px;


        border-radius: 20px;

        color: white;
        font-size: 2.5rem;
        font-weight: bold;

        cursor: pointer;

        transition: all 800ms ease; 


        &:hover{
            animation: bounce 1s;
        }
    }

    .menu{
        font-size: 3rem;
        display: none;
    }    

    .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-menu:target, .main-menu[aria-expanded="true"] {
        display: block;
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close, .main-menu[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }

    .main-menu:target ul, .main-menu[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }    
    
    .hamburger {
        padding: 25px 35px;
        font-size: 5.5rem;
        border: none;
    }

}    
