#home {
    height: 100vh;
    max-width: 100%;
    background-image: url('../images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    // max-width: 100%;

    display: flex;
    flex-wrap: wrap;

    transition: all 800ms ease; 

    h1 {
        color: whitesmoke;
        text-align: left;
        line-height: 1.5;

        text-shadow: 2px 2px slategray;
        padding: 250px  50px 80px;

        width: 45%

    }

    p {
        font-size: 4rem;
        color: @textBlue;
        font-style: oblique;
        padding: 0 45px 150px;
    }


}