
/*MEDIA Queries*/
@desktop: ~"(min-width:800px)";
@tablet:~"(min-widht:500px)";
/*Font*/

@font-Muli: 'Muli', sans-serif;

/*Colors*/
@darkGray1: #383C4F;
@darkGray2: #545a75;
@darkGray3: #6F789C;
@lightGray: #F1F3FD;
@darkOrange: #CA3A07;
@redOrange: #FE4909;
@orange: #FD632D;
@darkBlue: #1f2852;
@lightOrange:#FDCAB8;


